body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    background-color: #B5968E;
    color: white;
}

header {
    background-color: #96695E;
    top: 0;
    left: 0;
    width: 100%; /* Pleine largeur */
    z-index: 1000; /* Au-dessus du contenu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Légère ombre */
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Permet d'aligner le titre et les boutons */
    align-items: center;
}

.navig {
    display: none; /* Masque le texte "Navigation" */
}

/* Titre principal */
main h1 {
    font-family: Caviar Dreams, bold;
    text-align: center;
    color: white;
    margin: 120px 0 30px;
    font-size: 2.5em;
}

